# Locust stress tests
# Define los usuarios de prueba como un JSON array.
# Ejemplo:
TEST_USERS_JSON=[{"usuNom":"admin","usuContra":"admin123"},{"usuNom":"gerente1","usuContra":"Admin123!"},{"usuNom":"vendedor1","usuContra":"Admin123!"},{"usuNom":"cajero1","usuContra":"Admin123!"},{"usuNom":"optometra1","usuContra":"Admin123!"},{"usuNom":"logistica1","usuContra":"Admin123!"}]
